{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
        <!-- START CONTENT -->
	        <div id="content-home" class="span12 content group">
                <div class="page type-page status-publish hentry group">
                    <div class="section portfolio">
                        <!-- section blog wrapper -->
                            <h2 class="title section-portfolio-title">
                                From the <span class="title-highlight">portfolio</span>
                            </h2>

                            <div class="portfolio-projects section-portfolio-classic margin-bottom row">
                                <!-- portfolio image/slider -->
                                <div class="work-thumbnail span7">
                                    <div class="picture_overlay">
                                        <img width="660" height="360" src="{% static 'images/portfolios/piggie810-660x360.jpg' %}" class="attachment-section_portfolio" alt="piggie8">

                                        <div class="overlay">
                                            <div style="margin-top: -18.5px; margin-left: -18.5px;"><p>
                                                <a href="{% static 'images/portfolios/piggie810.jpg' %}" rel="lightbox_libra" class="cboxElement">
                                                    <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"></a>
                                            </p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- portfolio content -->
                                <div class="work-content span5">
                                    <div class="content"><h3 class="title">Fly Pigg!</h3><h4 class="subtitle">brand
                                        identity</h4>

                                        <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna,
                                            at cursus urna nisl et ipsum. Donec dapibus lacus nec sapien faucibus eget
                                            suscipit lorem mattis.</p>

                                        <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque.
                                            Maecenas aliquet, diam sed rhoncus vestibulum, sem lacus ultrices est, eu
                                            hendrerit tortor nulla in dui. Suspendisse enim purus, euismod interdum
                                            viverra eget, ultricies eu est.</p>
                                    </div>
                                    <div class="work-meta">
                                        <ul>
                                            <li class="categories">
                                                <span><img src="{% static 'images/categories.png' %}" alt="categories"></span><strong>Categories: </strong>Logo
                                                Design, Web Design
                                            </li>
                                            <li class="customer">
                                                <span><img src="{% static 'images/customer.png' %}" alt="customer"></span><strong>Customer: </strong>Fly
                                                Pigg! - <a href="http://www.google.com">google.com</a></li>
                                            <li class="skills">
                                                <span><img src="{% static 'images/project.png' %}" alt="skills"></span><strong>Project</strong>:
                                                business card, prints, website
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clear"></div>

                                <!-- portfolio thumbnails -->
                                <div class="work-projects span12">
                                    <div class="row">
                                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 123px; margin: 0px; overflow: hidden;">
                                            <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4800px; height: 123px; z-index: auto;">
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//00318-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="003">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios/piggie810-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="piggie8">
                                                    </a>
                                                </li>

                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios/01176-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="0117">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//009-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="009">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//0041-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="004">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//007-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="007">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//0051-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="005">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//0067-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="006">
                                                    </a>
                                                </li>
                                                <li class="span2">
                                                    <a href="#" class="img">
                                                        <img width="164" height="106" src="{% static 'images/portfolios//00219-164x106.jpg' %}" class="attachment-section_portfolio_thumb" alt="002">
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="nav">
                                        <a class="prev" href="#" style="display: block;"></a>
                                        <a class="next" href="#" style="display: block;"></a>
                                    </div>
                                </div>
                            </div>
		                </div>
                        <!-- end section blog wrapper -->
                        <div class="clear"></div>
                        <div class="section portfolio">
                            <!-- section blog wrapper -->


                            <h2 class="title section-portfolio-title">Video module</h2>

                            <div class="portfolio-projects section-portfolio-slider margin-bottom">
                                <a class="prev span1" href="#" style="display: block;">
                                    <img src="{% static 'images/section-video-left.png' %}"></a>

                                <div class="section-portfolio-carousel span10">
                                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: 0px; z-index: auto; width: 800px; height: 213px; margin: 0px; overflow: hidden;">
                                        <ul class="section-portfolio-slides" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4400px; height: 213px;">
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/w9TGj2jrJk8?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios/piggie8-162x136.jpg' %}" class="attachment-section_video" alt="piggie8">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Fly Pigg!</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios/0117-162x136.jpg' %}" class="attachment-section_video" alt="0117">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Bob Miller</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/w9TGj2jrJk8?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//009-162x136.jpg' %}" class="attachment-section_video" alt="009">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Guanacos</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U&amp;feature=g-vrec?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//0041-162x136.jpg' %}" class="attachment-section_video" alt="004">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title"> Digitpool Medien</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/w9TGj2jrJk8?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//007-162x136.jpg' %}" class="attachment-section_video" alt="007">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Kimeda</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/w9TGj2jrJk8?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//0051-162x136.jpg' %}" class="attachment-section_video" alt="005">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Colorful Oktopus</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//006-162x136.jpg' %}" class="attachment-section_video" alt="006">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Black Mamba</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//00214-162x136.jpg' %}" class="attachment-section_video" alt="002">
                                                    </div>
                                                    <div class="over">
                                                        <img src="{% static 'images/icons/play-2.png' %}" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Vitale Premium</p>
                                            </li>
                                            <li class="work span2">
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&amp;height=480&amp;iframe=true" rel="lightbox" class="ch-info-lightbox-video cboxElement">
                                                    <div class="play">
                                                        <img src="{% static 'images/section-video-play.png' %}">
                                                    </div>
                                                    <div class="img">
                                                        <img width="162" height="136" src="{% static 'images/portfolios//00313-162x136.jpg' %}" class="attachment-section_video" alt="003">
                                                    </div>
                                                    <div class="over">
                                                        <img src="images/icons/play-2.png" alt="Open Lightbox">
                                                    </div>
                                                </a>

                                                <p class="title">Nili Studios</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="next span1" href="#" style="display: block;"><img src="{% static 'images/section-video-right.png' %}"></a>

                                <div class="clear"></div>
                            </div>

                            <script type="{% static 'main/js/text/javascript' %}">

                                jQuery(function ($) {

                                    $('.section-portfolio-slides').imagesLoaded(function () {
                                        $('.section-portfolio-slides').carouFredSel({
                                            auto: false,
                                            prev: '.section-portfolio-slider .prev',
                                            next: '.section-portfolio-slider .next',
                                            swipe: {
                                                onTouch: true
                                            },
                                            scroll: {
                                                items: 1
                                            }
                                        });
                                    });

                                });

                                </script>
                            </div>
                    </div>

	            </div>
	            <!-- END CONTENT -->

	            <!-- START EXTRA CONTENT -->
	        	<!-- END EXTRA CONTENT -->
	        </div>
        </div>
    </div>
    <!-- END PRIMARY -->
{% endblock %}
    