{% extends "layouts/base.html" %}
{% load static %}

 {% block content %}   
        
    <!-- START PAGE META -->
    <div id="page-meta" class="group">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- TITLE -->
                    <div class="title">
                        <h1>Services Module</h1>
                    </div>
                
                    <!-- BREDCRUMB -->          
                    <div class="breadcrumbs">
                        <span class="before-text">You are here:</span>
                        <p id="yit-breadcrumb" itemprop="breadcrumb">
                        <a class="home" href="index.html">Home Page</a> | 
                            <a href="http://demo.yithemes.com/libra/features/">Features</a> | 
                            <a class="no-link current" href="#">Services Module</a>
                        </p>        
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE META -->
        
    <!-- START PRIMARY -->
    <div id="primary" class="sidebar-no">
        <div class="container group">
            <div class="row">
                <!-- START CONTENT -->
                <div id="content-page" class="span12 content group">
                        <div class="page type-page status-publish group">
                            <div class="section rounded ch-grid margin-top margin-bottom">
                                <h3 class="title">
                                    Our <span class="title-highlight">Services</span>
                                </h3>
                                <p class="description">Rounded Version</p>
                                <div class="services-row row group">
                                    <div class="span3 service_first">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url({% static 'images/03-175x175.jpg' %});">
                                                <div class="ch-info">
                                                    <a href="service-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>
                                                     
                                                    <p class="related_project">
                                                        <a href="service-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">Marketing <span class="title-highlight">Solution</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Marketing <span class="title-highlight">Solution</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url({% static 'images/02-175x175.jpg' %});">
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="servi{ces-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            Social <span class="title-highlight">marketing</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Social <span class="title-highlight">marketing</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url({% static 'images/04-175x175.jpg' %});">
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            Business <span class="title-highlight">services</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Business <span class="title-highlight">services</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url({% static 'images/01-175x175.jpg' %});">
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            Meetings <span class="title-highlight">workshop</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Meetings <span class="title-highlight">workshop</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                </div>
                            <!-- end row -->
                            </div>
        
                            <div class="clear space"></div>

                            <div class="section square margin-top margin-bottom">
                                <h3 class="title">
                                    Our <span class="title-highlight">Services</span>
                                </h3>

                                <p class="description">Square Version</p>
                                <div class="services-row row group">
                                    <div class="span3 service-first">
                                        <div class="picture_overlay">
                                            <a href="services-detail.html">
                                                <img width="175" height="175" src="{% static 'images/03-175x175.jpg' %}" class="attachment-section_services wp-post-image" alt="03" />
                                            </a>

                                            <div class="overlay">
                                                <div>
                                                    <p>
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="" />
                                                        </a>
                                                    </p>

                                                    <p class="title">
                                                        <a href="services-detail.html">
                                                            Marketing <span class="title-highlight">Solution</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Marketing <span class="title-highlight">Solution</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                    <div class="span3 ">
                                        <div class="picture_overlay">
                                            <a href="services-detail.html">
                                                <img width="175" height="175" src="{%  static 'images/02-175x175.jpg' %}" class="attachment-section_services wp-post-image" alt="02" />
                                            </a>

                                            <div class="overlay">
                                                <div>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="" />
                                                        </a>
                                                    </p>

                                                    <p class="title">
                                                        <a href="services-detail.html">
                                                            Social <span class="title-highlight">marketing</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Social <span class="title-highlight">marketing</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="picture_overlay">
                                            <a href="services-detail.html">
                                                <img width="175" height="175" src="{% static 'images/04-175x175.jpg' %}" class="attachment-section_services wp-post-image" alt="04" />
                                            </a>

                                            <div class="overlay">
                                                <div>
                                                    <p>
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="" />
                                                        </a>
                                                    </p>

                                                    <p class="title">
                                                        <a href="services-detail.html">
                                                            Business <span class="title-highlight">services</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Business <span class="title-highlight">services</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="picture_overlay">
                                            <a href="services-detail.html">
                                                <img width="175" height="175" src="{% static 'images/01-175x175.jpg' %}" class="attachment-section_services wp-post-image" alt="01" />
                                            </a>

                                            <div class="overlay">
                                                <div>
                                                    <p>
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="" />
                                                        </a>
                                                    </p>

                                                    <p class="title">
                                                        <a href="services-detail.html">
                                                            Meetings <span class="title-highlight">workshop</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Meetings <span class="title-highlight">workshop</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>
        
                        
        
    <!-- START COPYRIGHT -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="left span6">
                    <p>
                        <a href="http://yithemes.com/"><img src="http://yithemes.com/cdn/images/various/footer_yith_grey.png" alt="Your Inspiration Themes" style="position:relative; top:9px; margin: -22px 5px 0 0;"></a>&nbsp;Copyright 2012 - <strong>Libra theme</strong> by
                        Your Inspiration Themes
                    </p>
                </div>
                <div class="right span6">
                    <p>
                        <a href="http://yithemes.com/themes/wordpress/libra-corporate-portfolio-wp-theme/?ap_id=libra-html"><strong>Download the free version for Wordpress</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

{% endblock %}