{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <!-- SLOGAN -->
    <div class="slogan">
        <h2>BLOG MODULE SHORTCODES</h2>
        <h3>to show your latest posts</h3>
    </div>
    <!-- START PRIMARY -->
    <div id="primary" class="sidebar-no">
    <div class="container group">
	    <div class="row">
	        <!-- START CONTENT -->
	        <div id="content-page" class="span12 content group">
                <div class="page type-page status-publish group">
                    <div class="row">
                        <!-- START SECTION BLOG -->
                        <div class="section blog margin-bottom span12">
                            <h2 class="title">
                                From the <span class="title-highlight">blog</span> with featured article
                            </h2>
                            <div class="row">
                                <div class="post type-post status-publish format-video category-design hentry-post span6 sticky">
                                    <div class="row">
                                        <div class="thumbnail span3">
                                            <img width="263" height="243" src="{% static 'images/3-263x243.jpg' %}" class="attachment-section_blog wp-post-image" alt="3" />
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Oct</span>
                                                    <span class="day">17</span>
                                                </p>
                                            </div>
                                        </div>
            
                                        <div class="the-content span3">
                                            <h4>
                                                <a href="blog-detail.html" title="Section shortcodes &amp; sticky posts!">
                                                    Section shortcodes &amp; sticky posts!
                                                </a>
                                            </h4>
                                            <p>
                                                Fusce nec accumsan eros. Aenean ac orci a magna vestibulum posuere quis nec nisi. Maecenas rutrum
                                                ehicula condimentum. Donec volutpat nisl ac mauris consectetur gravida.
                                            </p>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel vulputate nibh. Pellentesque habitant
                                                <strong>morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas.
                                            </p>

                                            <p>
                                                <a href="blog-detail.html" class="more-link">|| read the article</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post type-post status-publish format-standard category-design category-themes tag-corporate tag-minimal hentry-post span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Nov</span>
                                                <span class="day">20</span>
                                            </p>
                                        </div>
                    
                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="Nice &amp; Clean. The best for your blog!">
                                                    Nice &amp; Clean. The best for your blog!
                                                </a>
                                            </h4>

                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Nice &amp; Clean. The best for your blog!">
                                                    <strong>Comments:</strong> 0
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post type-post status-publish format-audio category-themes span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Oct</span>
                                                <span class="day">29</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="Another theme by YIThemes!">
                                                    Another theme by YIThemes!
                                                </a>
                                            </h4>
                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Another theme by YIThemes!">
                                                    <strong>Comments:</strong> 0
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post type-post status-publish format-quote category-uncategorized span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Jun</span>
                                                <span class="day">18</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="Oscar Wilde">Oscar Wilde</a>
                                            </h4>
                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Oscar Wilde">
                                                    <strong>Comments:</strong> 0
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post type-post status-publish format-gallery category-design category-themes tag-css tag-html tag-php span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Apr</span>
                                                <span class="day">09</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="This is the title of the first article. Enjoy it.">
                                                    This is the title of the first article. Enjoy it.
                                                </a>
                                            </h4>

                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on This is the title of the first article. Enjoy it.">
                                                    <strong>Comments:</strong> 1
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SECTION BLOG -->
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <!-- START SECTION BLOG -->
                        <div class="section blog margin-bottom span12">
                            <h2 class="title">
                                From the <span class="title-highlight">blog</span> without featured article
                            </h2>
                            <div class="row">
                                <div class="post type-post status-publish format-standard category-design category-themes tag-cleam tag-corporate tag-minimal span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Nov</span>
                                                <span class="day">20</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="Nice &amp; Clean. The best for your blog!">
                                                    Nice &amp; Clean. The best for your blog!
                                                </a>
                                            </h4>
                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Nice &amp; Clean. The best for your blog!">
                                                    <strong>Comments:</strong> 0
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post type-post status-publish format-audio category-themes span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Oct</span>
                                                <span class="day">29</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="http://demo.yithemes.com/libra/2012/10/29/another-theme-by-yithemes/" title="Another theme by YIThemes!">
                                                    Another theme by YIThemes!
                                                </a>
                                            </h4>

                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Another theme by YIThemes!">
                                                    <strong>Comments:</strong> 0</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post type-post status-publish format-quote category-uncategorized span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Jun</span>
                                                <span class="day">18</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="Oscar Wilde">
                                                    OscarWilde
                                                </a>
                                            </h4>

                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on Oscar Wilde">
                                                    <strong>Comments:</strong> 0</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="post type-post status-publish format-gallery category-design category-themes tag-css tag-html tag-php span3">
                                    <div class="row">
                                        <div class="date span1">
                                            <p>
                                                <span class="month">Apr</span>
                                                <span class="day">09</span>
                                            </p>
                                        </div>

                                        <div class="meta span2">
                                            <h4>
                                                <a href="blog-detail.html" title="This is the title of the first article. Enjoy it.">
                                                    Thisis the title of the first article. Enjoy it.
                                                </a>
                                            </h4>

                                            <p class="author">by <strong>Nicola Mustone</strong></p>

                                            <p class="comments">
                                                <a href="blog-detail.html" title="Comment on This is the title of the first article. Enjoy it.">
                                                    <strong>Comments:</strong> 1
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}                      