{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
        <!-- START SLIDER -->
        <div class="slider slider-revolution revolution-slider  fullwidth">
            <div class="shadowWrapper">
                        <!-- START REVOLUTION SLIDER  -->
                        <link rel='stylesheet' id='rev-google-font' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' type='text/css' media='all' />
                        <div  class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#d4d4d4;padding:0px;margin-top:0px;margin-bottom:0px;max-height:400px;height:400;">
                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:400px;height:400;">
                                <ul>
                                    <li data-transition="3dcurtain-horizontal" data-slotamount="7" data-masterspeed="300" >
                                        <img src="{% static 'images/slider/1-bg.jpg' %}" >

                                        <div class="tp-caption randomrotate"
                                             data-x="80"
                                             data-y="34"
                                             data-speed="300"
                                             data-start="800"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/1-l1.png' %}" alt="Image 1">
                                        </div>

                                        <div class="tp-caption randomrotate"
                                             data-x="389"
                                             data-y="58"
                                             data-speed="300"
                                             data-start="1100"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/1-l2.png' %}" alt="Image 2">
                                        </div>

                                        <div class="tp-caption randomrotate"
                                             data-x="0"
                                             data-y="12"
                                             data-speed="300"
                                             data-start="1500"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/1-l3.png' %}" alt="Image 3">
                                        </div>

                                        <div class="tp-caption randomrotate"
                                             data-x="436"
                                             data-y="14"
                                             data-speed="300"
                                             data-start="1800"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/1-l4.png' %}" alt="Image 4">
                                        </div>

                                        <div class="tp-caption big_title_open_sans fade"
                                             data-x="843"
                                             data-y="147"
                                             data-speed="300"
                                             data-start="2500"
                                             data-easing="easeOutExpo"  >
                                            <b>Unlimited</b> features
                                        </div>

                                        <div class="tp-caption main_title_open_sans lfr"
                                             data-x="845"
                                             data-y="191"
                                             data-speed="800"
                                             data-start="3000"
                                             data-easing="easeOutExpo"  >
                                            <span style="letter-spacing:2px">to make your wordpress</span>
                                        </div>

                                        <div class="tp-caption biggreen_title_open_sans lfb"
                                             data-x="844"
                                             data-y="221"
                                             data-speed="300"
                                             data-start="3500"
                                             data-easing="easeOutExpo"  >
                                            <span style="letter-spacing:-1px;">the theme of your dreams.</span>
                                        </div>

                                        <div class="tp-caption lft"
                                             data-x="850"
                                             data-y="294"
                                             data-speed="800"
                                             data-start="4000"
                                             data-easing="easeInOutBack"  >
                                            <img src="{% static 'images/slider/1-l6.png' %}" alt="Image 8">
                                        </div>

                                        <div class="tp-caption lft"
                                             data-x="935"
                                             data-y="304"
                                             data-speed="800"
                                             data-start="4400"
                                             data-easing="easeInOutBack"  >
                                            <img src="{% static 'images/slider/1-l5.png' %}" alt="Image 9">
                                        </div>

                                        <div class="tp-caption lft"
                                             data-x="1035"
                                             data-y="314"
                                             data-speed="800"
                                             data-start="4800"
                                             data-easing="easeInOutBack"  >
                                            <img src="{% static 'images/slider/1-l7.png' %}" alt="Image 10">
                                        </div>

                                        <div class="tp-caption lft"
                                             data-x="1096"
                                             data-y="328"
                                             data-speed="800"
                                             data-start="5200"
                                             data-easing="easeInOutBack"  >
                                            <img src="{% static 'images/slider/1-l8.png' %}" alt="Image 11">
                                        </div>
                                    </li>
                                    <li data-transition="flyin" data-slotamount="7" data-masterspeed="300" >
                                        <img src="{% static 'images/slider/2-bg.png' %}" >

                                        <div class="tp-caption lfb"
                                             data-x="57"
                                             data-y="41"
                                             data-speed="800"
                                             data-start="500"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l1.png' %}" alt="Image 1">
                                        </div>

                                        <div class="tp-caption lfb"
                                             data-x="652"
                                             data-y="114"
                                             data-speed="800"
                                             data-start="1300"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l2.png' %}" alt="Image 2">
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="63"
                                             data-y="227"
                                             data-speed="500"
                                             data-start="1800"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l3.png' %}" alt="Image 3">
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="60"
                                             data-y="163"
                                             data-speed="500"
                                             data-start="1900"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l11.png' %}" alt="Image 4">
                                        </div>

                                        <div class="tp-caption paragraph_right sfl"
                                             data-x="14"
                                             data-y="185"
                                             data-speed="500"
                                             data-start="1900"
                                             data-easing="easeOutExpo"  >
                                            a “pixel-perfect”<br />developer
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="252"
                                             data-y="53"
                                             data-speed="500"
                                             data-start="2200"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l4.png' %}" alt="Image 6">
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="169"
                                             data-y="59"
                                             data-speed="500"
                                             data-start="2300"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l12.png' %}" alt="Image 7">
                                        </div>

                                        <div class="tp-caption paragraph_right sfl"
                                             data-x="110"
                                             data-y="80"
                                             data-speed="500"
                                             data-start="2300"
                                             data-easing="easeOutExpo"  >
                                            a “strange” developer
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="408"
                                             data-y="58"
                                             data-speed="500"
                                             data-start="2600"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l5.png' %}" alt="Image 9">
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="449"
                                             data-y="56"
                                             data-speed="500"
                                             data-start="2700"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l13.png' %}" alt="Image 10">
                                        </div>

                                        <div class="tp-caption paragraph sfr"
                                             data-x="445"
                                             data-y="78"
                                             data-speed="500"
                                             data-start="2700"
                                             data-easing="easeOutExpo"  >
                                            the big boss. yeah.
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="475"
                                             data-y="152"
                                             data-speed="500"
                                             data-start="3000"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l6.png' %}" alt="Image 12">
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="523"
                                             data-y="148"
                                             data-speed="500"
                                             data-start="3100"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l14.png' %}" alt="Image 13">
                                        </div>

                                        <div class="tp-caption paragraph sfr"
                                             data-x="519"
                                             data-y="170"
                                             data-speed="500"
                                             data-start="3100"
                                             data-easing="easeOutExpo"  >
                                            a mummy designer.
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="608"
                                             data-y="257"
                                             data-speed="800"
                                             data-start="3600"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l7.png' %}" alt="Image 15">
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="592"
                                             data-y="297"
                                             data-speed="800"
                                             data-start="3700"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l15.png' %}" alt="Image 16">
                                        </div>

                                        <div class="tp-caption paragraph_right sfl"
                                             data-x="544"
                                             data-y="318"
                                             data-speed="800"
                                             data-start="3700"
                                             data-easing="easeOutExpo"  >
                                            the shortcodes<br />expert
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="719"
                                             data-y="104"
                                             data-speed="800"
                                             data-start="4000"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l8.png' %}" alt="Image 18">
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="650"
                                             data-y="105"
                                             data-speed="800"
                                             data-start="4100"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l16.png' %}" alt="Image 19">
                                        </div>

                                        <div class="tp-caption paragraph sfl"
                                             data-x="645"
                                             data-y="123"
                                             data-speed="800"
                                             data-start="4100"
                                             data-easing="easeOutExpo"  >
                                            the last developer
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="882"
                                             data-y="106"
                                             data-speed="800"
                                             data-start="4400"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l9.png' %}" alt="Image 21">
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="930"
                                             data-y="117"
                                             data-speed="800"
                                             data-start="4500"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l17.png' %}" alt="Image 22">
                                        </div>

                                        <div class="tp-caption paragraph sfr"
                                             data-x="927"
                                             data-y="138"
                                             data-speed="800"
                                             data-start="4500"
                                             data-easing="easeOutExpo"  >
                                            the smiling men
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="1002"
                                             data-y="225"
                                             data-speed="800"
                                             data-start="4800"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l10.png' %}" alt="Image 24">
                                        </div>

                                        <div class="tp-caption sfr"
                                             data-x="1015"
                                             data-y="262"
                                             data-speed="800"
                                             data-start="4900"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/2-l18.png' %}" alt="Image 25">
                                        </div>

                                        <div class="tp-caption paragraph sfr"
                                             data-x="1011"
                                             data-y="283"
                                             data-speed="800"
                                             data-start="4900"
                                             data-easing="easeOutExpo"  >
                                            another nice guy.
                                        </div>

                                        <div class="tp-caption biggreen_title_open_sans lfr"
                                             data-x="643"
                                             data-y="21"
                                             data-speed="1500"
                                             data-start="6000"
                                             data-easing="easeOutExpo"  >
                                            <span style="font-size:130%;">
                                                OPS. WE MISSED...
                                            </span>
                                        </div>
                                    </li>
                                    <li data-transition="cubic" data-slotamount="7" data-masterspeed="300" >
                                        <img src="{% static 'images/slider/3-bg.jpg' %}" >

                                        <div class="tp-caption lfl"
                                             data-x="0"
                                             data-y="127"
                                             data-speed="2000"
                                             data-start="1000"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/3-l1.png' %}" alt="Image 1">
                                        </div>

                                        <div class="tp-caption lfl"
                                             data-x="112"
                                             data-y="14"
                                             data-speed="1500"
                                             data-start="1600"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/3-l2.png' %}" alt="Image 2">
                                        </div>

                                        <div class="tp-caption biggreen_title_open_sans fade"
                                             data-x="691"
                                             data-y="47"
                                             data-speed="300"
                                             data-start="2400"
                                             data-easing="easeOutExpo"  >
                                            <span style="font-size:120%">Libra</span>
                                        </div>

                                        <div class="tp-caption small_title_open_sans lfb"
                                             data-x="691"
                                             data-y="89"
                                             data-speed="800"
                                             data-start="2800"
                                             data-easing="easeOutExpo"  >
                                            A creative and clean corporate theme.
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="696"
                                             data-y="150"
                                             data-speed="300"
                                             data-start="3700"
                                             data-easing="easeInExpo"  >
                                            <img src="{% static 'images/slider/3-l3.png' %}" alt="Image 5">
                                        </div>

                                        <div class="tp-caption small_title_open_sans lfr"
                                             data-x="761"
                                             data-y="165"
                                             data-speed="300"
                                             data-start="3700"
                                             data-easing="easeInExpo"  >
                                            Responsive Design
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="703"
                                             data-y="213"
                                             data-speed="300"
                                             data-start="4000"
                                             data-easing="easeInExpo"  >
                                            <img src="{% static 'images/slider/3-l4.png' %}" alt="Image 7">
                                        </div>

                                        <div class="tp-caption small_title_open_sans lfr"
                                             data-x="761"
                                             data-y="221"
                                             data-speed="300"
                                             data-start="4000"
                                             data-easing="easeInExpo"  >
                                            Unlimited sliders + 2 premium sliders
                                        </div>

                                        <div class="tp-caption sfl"
                                             data-x="708"
                                             data-y="267"
                                             data-speed="300"
                                             data-start="4300"
                                             data-easing="easeInExpo"  >
                                            <img src="{% static 'images/slider/3-l5.png' %}" alt="Image 9">
                                        </div>

                                        <div class="tp-caption small_title_open_sans lfr"
                                             data-x="760"
                                             data-y="278"
                                             data-speed="300"
                                             data-start="4300"
                                             data-easing="easeInExpo"  >
                                            The best WordPress theme. Yeah.
                                        </div>
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                        <img src="{% static 'images/slider/4-bg.png' %}" >

                                        <div class="tp-caption biggreen_title_open_sans sft"
                                             data-x="549"
                                             data-y="75"
                                             data-speed="1000"
                                             data-start="1400"
                                             data-easing="easeOutExpo"  >
                                            <b>ENJOY THE VIDEO SUPPORT</b>
                                        </div>

                                        <div class="tp-caption lfl"
                                             data-x="-29"
                                             data-y="25"
                                             data-speed="1600"
                                             data-start="200"
                                             data-easing="easeOutExpo"  >
                                            <img src="{% static 'images/slider/4-l1.png' %}" alt="Image 1">
                                        </div>

                                        <div class="tp-caption lfl"
                                             data-x="3"
                                             data-y="26"
                                             data-speed="1600"
                                             data-start="200"
                                             data-easing="easeOutExpo"  >
                                            <iframe src='http://player.vimeo.com/video/22679618?title=0&amp;byline=0&amp;portrait=0' width='486' height='331' style='width:486px;height:331px;'></iframe>
                                        </div>

                                        <div class="tp-caption biggreen_title_open_sans lfr"
                                             data-x="550"
                                             data-y="125"
                                             data-speed="1000"
                                             data-start="2000"
                                             data-easing="easeOutExpo"  >
                                            share your youtube or vimeo videos
                                        </div>

                                        <div class="tp-caption paragraph lfb"
                                             data-x="552"
                                             data-y="268"
                                             data-speed="2000"
                                             data-start="2800"
                                             data-easing="easeOutExpo"  >
                                            <a href="#"  class="btn btn-xlarge  btn-the-salmon-dance-3 ">
                                                Purchase the theme
                                            </a>
                                        </div>

                                        <div class="tp-caption paragraph fade"
                                             data-x="551"
                                             data-y="176"
                                             data-speed="1500"
                                             data-start="3000"
                                             data-easing="easeOutExpo"  >
                                            <span style="line-height:1.7em;">
                                                Lid est laborum dolo rumes fugats untras. Et harums ser <br />
                                                quidem rerum facilis dolores nemis omnis fugiats vitaes nemo <br />
                                                minima rerums unsers sadips amets.
                                            </span>
                                        </div>
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                                        <img src="{% static 'images/slider/4-bg1.png' %}" >

                                        <div class="tp-caption main_title_open_sans lfl"
                                             data-x="408"
                                             data-y="14"
                                             data-speed="1500"
                                             data-start="1000"
                                             data-easing="easeOutExpo"  >
                                            <b style="color:#898787;">
                                                Another example of <span style="color:#91931a;">video</span>
                                            </b>
                                        </div>

                                        <div class="tp-caption small_title_open_sans lfr"
                                             data-x="453"
                                             data-y="46"
                                             data-speed="1500"
                                             data-start="1400"
                                             data-easing="easeOutExpo"  >
                                            <span style="color:#898787;">
                                                watch this nice youtube video
                                            </span>
                                        </div>

                                        <div class="tp-caption video_container lfb"
                                             data-x="2"
                                             data-y="93"
                                             data-speed="1500"
                                             data-start="2200"
                                             data-easing="easeOutExpo"  >
                                            <iframe src='http://www.youtube.com/embed/zrz8NuALuj8?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0' width='1150' height='300' style='width:1150px;height:300px;'></iframe>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <script type="text/javascript">

                            var tpj=jQuery;

                            tpj.noConflict();

                            var revapi1;

                            tpj(document).ready(function() {

                            if (tpj.fn.cssOriginal != undefined)
                                tpj.fn.css = tpj.fn.cssOriginal;

                            if(tpj('#rev_slider_1_1').revolution == undefined)
                                revslider_showDoubleJqueryError('#rev_slider_1_1');
                            else
                               revapi1 = tpj('#rev_slider_1_1').show().revolution(
                                {
                                    delay:9000,
                                    startwidth:1170,
                                    startheight:400,
                                    hideThumbs:200,

                                    thumbWidth:100,
                                    thumbHeight:50,
                                    thumbAmount:5,

                                    navigationType:"none",
                                    navigationArrows:"nexttobullets",
                                    navigationStyle:"round",

                                    touchenabled:"on",
                                    onHoverStop:"on",

                                    navOffsetHorizontal:0,
                                    navOffsetVertical:20,

                                    shadow:0,
                                    fullWidth:"on",

                                    stopLoop:"off",
                                    stopAfterLoops:-1,
                                    stopAtSlide:-1,

                                    shuffle:"off"
                                });

                            });	//ready

                        </script>

                       <!-- END REVOLUTION SLIDER -->
                </div>
                <div class="slider-shadow"></div>
            </div>
            <!-- END SLIDER -->
        </div>
        <!-- END HEADER -->
        
        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">
                    <!-- START CONTENT -->
                    <div id="content-home" class="span12 content group">
                        <div class="page type-page status-publish hentry group">
                            <div class="section rounded ch-grid margin-top margin-bottom">
                                <div class="services-row row group">
                                    <div class="span3 service_first">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url('{% static 'images/03-175x175.jpg' %}')";>
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            Marketing <span class="title-highlight">Solution</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                            Marketing <span class="title-highlight">Solution</span>
                                            </a>
                                        </h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url('{% static 'images/02-175x175.jpg' %}')";>
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="services-detail.html">
                                                            Social <span class="title-highlight">marketing</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Social <span class="title-highlight">marketing</span>
                                            </a>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url('{% static 'images/04-175x175.jpg' %}')";>
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="services-detail.html">
                                                            Business <span class="title-highlight">services</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <h4>
                                            <a href="services-detail.html">
                                                Business <span class="title-highlight">services</span>
                                            </a>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>

                                    <div class="span3 ">
                                        <div class="circle-services">
                                            <div class="ch-item no-empty" style="background-image: url('{% static 'images/01-175x175.jpg' %}')";>
                                                <div class="ch-info">
                                                    <a href="services-detail.html">
                                                        <img src="{% static 'images/project_empty.png' %}" alt="" width="175" height="175" />
                                                    </a>

                                                    <p class="related_project">
                                                        <a href="services-detail.html">
                                                            <img src="{% static 'images/icons/project.png' %}" alt="project" />
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <a href="services-detail.html">
                                                            Meetings <span class="title-highlight">workshop</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>
                                            <a href="services-detail.html">
                                                Meetings <span class="title-highlight">workshop</span>
                                            </a>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]</p>
                                    </div>
                                </div>
                                <!-- end row -->
                            </div>

                            <h2 style="text-align: center">Our customers say..</h2>

                            <div class="testimonials-flexslider">
                                <ul class="slides">
                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="#">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie
                                                    elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit
                                                    id libero vulputate facilisis. Suspendisse potenti. Vestibulum malesuada molestie
                                                    rutrum. Aenean eget [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>

                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">Nando Pappalardo</a>
                                            </strong> -
                                            <a href="http://www.netsons.com">
                                                www.netsons.com
                                            </a>
                                        </p>
                                    </li>

                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="testimonial-detail.html">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie
                                                    elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit
                                                    id libero vulputate facilisis. Suspendisse potenti. Vestibulum malesuada molestie
                                                    rutrum. Aenean eget [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>

                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">
                                                    Sara Presenti
                                                </a>
                                            </strong> -
                                            <a href="http://www.netsons.com">
                                                www.netsons.com
                                            </a>
                                        </p>
                                    </li>

                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="testimonial-detail.html">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie
                                                    elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit
                                                    id libero vulputate facilisis. Suspendisse potenti. Vestibulum malesuada molestie
                                                    rutrum. Aenean eget [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>
                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">
                                                    Nicola Mustone
                                                </a>
                                            </strong> -
                                            <a href="http://www.netsons.com">
                                                www.netsons.com
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                                <div class="prev"></div>
                                <div class="next"></div>
                            </div>

                            <script type="text/javascript">
                                jQuery(function($){
                                    var animation = $.browser.msie || $.browser.opera ? 'fade' : 'slide';
                                    $('.testimonials-flexslider').flexslider({
                                        animation : animation,
                                        slideshowSpeed: 5000,
                                        animationSpeed: 500,
                                        touch: false,
                                        controlNav: false,
                                        directionNav: true
                                    });
                                });
                            </script>

                        </div>
                        <!-- START COMMENTS -->
                        <div id="comments"></div>
                        <!-- END COMMENTS -->
                    </div>
                    <!-- END CONTENT -->

                    <!-- START EXTRA CONTENT -->
                    <!-- END EXTRA CONTENT -->
                </div>
            </div>
        </div>
        <!-- END PRIMARY -->
{% endblock %}
        
