{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
           <!-- START SLIDER -->
               <div id="slider-thumbnails-0" class="slider slider-thumbnails thumbnails container">
                    <div class="showcase group">
                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1170" height="378" src="{% static 'images/slider/thumbnails/001.jpeg' %}" class="attachment-full" alt="001" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/001-60x60.jpeg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1170" height="380" src="{% static 'images/slider/thumbnails/002.jpeg' %}" class="attachment-full" alt="002" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/002-60x60.jpeg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1170" height="378" src="{% static 'images/slider/thumbnails/003.jpeg' %}" class="attachment-full" alt="003" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/003-60x60.jpeg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1170" height="378" src="{% static 'images/slider/thumbnails/004.jpeg' %}" class="attachment-full" alt="004" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/004-60x60.jpeg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="378" src="{% static 'images/slider/thumbnails/005.jpeg'%}" class="attachment-full" alt="005" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/005-60x60.jpeg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="400" src="{% static 'images/slider/thumbnails/0063.jpg' %}" class="attachment-full" alt="006" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/0063-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="400" src="{% static 'images/slider/thumbnails/0071.jpg' %}" class="attachment-full" alt="007" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/0071-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="399" src="{% static 'images/slider/thumbnails/0083.jpg' %}" class="attachment-full" alt="008" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/0083-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="400" src="{% static 'images/slider/thumbnails/0092.jpg' %}" class="attachment-full" alt="009" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/0092-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="400" src="{% static 'images/slider/thumbnails/010.jpg' %}" class="attachment-full" alt="010" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/010-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="938" height="308" src="{% static 'images/slider/thumbnails/011.jpg' %}" class="attachment-full" alt="011" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/011-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="938" height="308" src="{% static 'images/slider/thumbnails/012.jpg' %}" class="attachment-full" alt="012" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/012-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="938" height="308" src="{% static 'images/slider/thumbnails/013.jpg' %}" class="attachment-full" alt="013" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/013-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="938" height="308" src="{% static 'images/slider/thumbnails/014.jpg' %}" class="attachment-full" alt="014" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/014-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="400" src="{% static 'images/slider/thumbnails/015.jpg' %}" class="attachment-full" alt="015" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/015-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>


                        <div class="showcase-slide">
                            <div class="showcase-content">
                                <!-- If the slide contains multiple elements you should wrap them in a div with the class
                                .showcase-content-wrapper. We usually wrap even if there is only one element,
                                because it looks better. -->
                                <div class="showcase-content-wrapper">
                                    <div class="showcase-content-slides">
                                        <img width="1200" height="402" src="{% static 'images/slider/thumbnails/016.jpg' %}" class="attachment-full" alt="016" />
                                    </div>
                                </div>
                            </div>
                            <!-- Put the caption content in a div with the class .showcase-caption -->

                            <div class="showcase-thumbnail">
                                <img src="{% static 'images/slider/thumbnails/016-60x60.jpg' %}" width="60" height="60" />
                            </div>

                            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
                        </div>
                    </div>
                </div>
                <!-- END SLIDER -->
            </div>
        </div>

        <script type="{% static 'js/text/javascript' %}">
                jQuery(document).ready(function($){
                    $('#slider-thumbnails-0.thumbnails img.attachment-full').css('width', '1148px').css('height', '378px');
                    var resize_height_thumbnail = function(){
                        if ( ! $('body').hasClass('responsive') ) {
                            return;
                        }

                        $('.showcase-content-container, .showcase-content').height( $('.showcase-content-wrapper').outerHeight() + 1 );
                        $('#slider-thumbnails-0.thumbnails .showcase-content-wrapper img').css({
                            width : $('#slider-thumbnails-0.slider.thumbnails .showcase-content').width() - 22
                        });
                        var arrow_width = parseInt( $('#slider-thumbnails-0 .showcase-thumbnail-restriction').css('margin-left').replace( 'px', '' ) );
                        var thumbnails_container_width = $('#slider-thumbnails-0 .showcase-thumbnail-container').width();
                        $('#slider-thumbnails-0 .showcase-thumbnail-restriction').width( thumbnails_container_width - arrow_width*2 );
                    };
                    $(window).resize(resize_height_thumbnail);

                    var content_width  = 1148 + 22;
                    var content_height = 378 + 22;

                    if ( content_width > $('.slider.thumbnails .showcase').width() ) {
                        content_width = $('.slider.thumbnails .showcase').width();
                    }

                    $("#slider-thumbnails-0 .showcase").awShowcase({
                        content_width           : content_width,
                        content_height          : content_height,
                        show_caption            : 'onload', /* onload/onhover/show */
                        continuous              : true,
                        buttons                 : false,
                        auto                    : true,
                        thumbnails              : true,
                        transition              : 'fade', /* hslide / vslide / fade */
                        interval                : 3000,
                        transition_speed        : 800,
                        thumbnails_position     : 'outside-last', /* outside-last/outside-first/inside-last/inside-first */
                        thumbnails_direction    : 'horizontal', /* vertical/horizontal */
                        thumbnails_slidex       : 1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
                        onload                  : function(){
                            $( window ).load(function(){
                                resize_height_thumbnail();
                            });
                        },
                        onchange         : resize_height_thumbnail
                    });
                });
           </script>

    </div>
    <!-- END HEADER -->

    <div style='height:130px;'></div>
    <!-- START PRIMARY -->
    <div id="primary" class="sidebar-right">
        <div class="container group">
            <div class="row">
                <!-- START CONTENT -->
                <div id="content-home" class="span9 content group">
                    <div class="page type-page status-publish group">
                        <div class="one-fourth ">
                            <h4>Meet Libra.</h4>
                            <p>Duis bibendum libero quis leo varius scelerisque. Suspendisse purus elit, vulputate sit amet malesuada quis, congue ac leo vitae interdum mauris feugiat non pares dorti. </p>
                        </div>

                        <div class="one-fourth ">
                            <h4>A clean theme</h4>
                            <p>Duis bibendum libero quis leo varius scelerisque. Suspendisse purus elit, vulputate sit amet malesuada quis, congue ac leo vitae interdum mauris feugiat non pares dorti. </p>
                        </div>

                        <div class="one-fourth ">
                            <h4>Corporate design</h4>
                            <p>Duis bibendum libero quis leo varius scelerisque. Suspendisse purus elit, vulputate sit amet malesuada quis, congue ac leo vitae interdum mauris feugiat non pares dorti. </p>
                        </div>

                        <div class="one-fourth last">
                            <h4>Portfolio theme</h4>
                            <p>Duis bibendum libero quis leo varius scelerisque. Suspendisse purus elit, vulputate sit amet malesuada quis, congue ac leo vitae interdum mauris feugiat non pares dorti. </p>
                        </div>
                    </div>

                    <!-- START COMMENTS -->
                    <div id="comments"></div>
                    <!-- END COMMENTS -->

                </div>
                <!-- END CONTENT -->

                <!-- START SIDEBAR -->
                <div id="sidebar-homevii" class="span3 sidebar group">
                    <div class="widget-1 widget-first widget testimonial-widget">
                        <h3>Happy customers</h3>
                        <div class="testimonial-text">
                            <ul class="slides">
                                <li>
                                    <div>
                                        <blockquote>
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate [...]</p>
                                        </blockquote>
                                        <img width="41" height="41" src="{% static 'images/nando1-41x41.png' %}" class="thumbnail wp-post-image" alt="nando" />
                                        <div class="name-testimonial">
                                            <a class="name-testimonial" href="#">Nando Pappalardo</a>
                                            <p></p>
                                            <span class="label-testimonial"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <blockquote>
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate [...]</p>
                                        </blockquote>
                                        <img width="41" height="41" src="{% static 'images/sara1-41x41.png' %}" class="thumbnail wp-post-image" alt="sara" />
                                        <div class="name-testimonial">
                                            <a class="name-testimonial" href="#">Sara Presenti</a>
                                            <p></p>
                                            <span class="label-testimonial"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <blockquote>
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate [...]</p>
                                       </blockquote>
                                        <img width="41" height="41" src="{% static 'images/nicola1-41x41.png' %}" class="thumbnail wp-post-image" alt="nicola" />
                                        <div class="name-testimonial">
                                            <a class="name-testimonial" href="#">Nicola Mustone</a>
                                            <p></p>
                                            <span class="label-testimonial"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <blockquote>
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate [...]</p>
                                        </blockquote>
                                        <img width="41" height="41" src="{% static 'images/anto1-41x41.png'%}" class="thumbnail wp-post-image" alt="anto" />
                                        <div class="name-testimonial">
                                            <a class="name-testimonial" href="#">Antonino Scarfi</a>
                                            <p></p>
                                            <span class="label-testimonial"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <script type="text/javascript">
                            jQuery(document).ready(function($){
                                $('.testimonial-widget ul').css( 'max-height', 'none' );


                                var animation = $.browser.msie || $.browser.opera ? 'fade' : 'slide';
                                $('.testimonial-widget').flexslider({
                                    animation: animation,
                                    slideshowSpeed: 8000,
                                    animationSpeed: 300,
                                    selectors: '.slides > li',
                                    directionNav: true,
                                    slideshow: true,

                                    pauseOnAction: false,
                                    controlNav: false,
                                    touch: true
                                });
                            });
                        </script>
                    </div>
                </div>
                <!-- END SIDEBAR -->


                <!-- START EXTRA CONTENT -->
                <div class="extra-content margin-top group span12">
                    <div class="row">
                        <!-- START SECTION BLOG -->
                        <div class="section blog margin-bottom span12">
                                <h2 class="title">
                                    From the <span class="title-highlight">blog</span>
                                </h2>
                                <div class="row">
                                    <div class="post type-post status-publish format-standard category-design category-themes tag-cleam tag-corporate tag-minimal hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Nov</span>
                                                    <span class="day">20</span>
                                                </p>
                                            </div>
            
                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-details.html" title="Nice &amp; Clean. The best for your blog!">
                                                        Nice &amp; Clean. The best for your blog!
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="blog-details.html#respond" title="Comment on Nice &amp; Clean. The best for your blog!">
                                                        <strong>Comments:</strong> 0
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-audio category-themes hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Oct</span>
                                                    <span class="day">29</span>
                                                </p>
                                            </div>

                                            <div class="meta span2">
                                                    <h4>
                                                        <a href="blog-details.html" title="Another theme by YIThemes!">Another theme by YIThemes!</a>
                                                    </h4>
                                                    <p class="author">by <strong>Nicola Mustone</strong></p>
                                                    <p class="comments">
                                                        <a href="blog-details.html" title="Comment on Another theme by YIThemes!"><strong>Comments:</strong> 0</a>
                                                    </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-quote category-uncategorized hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Jun</span>
                                                    <span class="day">18</span>
                                                </p>
                                            </div>
                    
                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-details.html" title="Oscar Wilde">Oscar Wilde</a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="blog-details.html" title="Comment on Oscar Wilde">
                                                        <strong>Comments:</strong> 0
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-gallery category-design category-themes tag-css tag-html tag-php hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Apr</span>
                                                    <span class="day">09</span>
                                                </p>
                                            </div>
                    
                                            <div class="meta span2">
                                                <h4>
                                                    <a href="testimonial-detail.html" title="This is the title of the first article. Enjoy it.">
                                                        This is the title of the first article. Enjoy it.
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="portfolio-detail.html" title="Comment on This is the title of the first article. Enjoy it.">
                                                        <strong>Comments:</strong> 1</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SECTION BLOG -->
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END EXTRA CONTENT -->
                </div>
            </div>
        </div>
    <!-- END PRIMARY -->
{% endblock %}
    