{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
      

        <!-- SLOGAN -->
        <div class="slogan">
            <h2>Portfolio Big Image</h2>

            <h3>Lorem ipsum</h3>
        </div>

            <!-- START PRIMARY -->
            <div id="primary" class="sidebar-no">
                <div class="container group">
                    <div class="row">
                        <!-- START CONTENT -->
                        <div id="content-page" class="span12 content group">
                            <div class="page type-page status-publish group">

                                <script>
                                    jQuery(document).ready(function ($) {
                                        $('.sidebar').remove();

                                        if (!$('#primary').hasClass('sidebar-no')) {
                                            $('#primary').removeClass().addClass('sidebar-no');
                                            $('.content').removeClass('span9').addClass('span12');
                                        }

                                    });
                                </script>

                                <div id="portfolio" class="portfolio-big-image">


                                    <div class="page type-page status-publish work row group">
                                        <div class="work-thumbnail span7">
                                            <div class="picture_overlay">
                                                <img width="656" height="313" src="{% static 'images/portfolios/01173-656x313.jpg' %}" class="attachment-thumb_portfolio_bigimage" alt="0117"/>

                                                <div class="overlay">
                                                    <div>
                                                        <p>
                                                            <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&height=480&iframe=true" rel="lightbox" class="ch-info-lightbox-video">
                                                                <img src="{% static 'images/icons/play.png' %}" alt="Open Lightbox"/>
                                                            </a>
                                                            <a href="portfolio-detail.html">
                                                                <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                            </a>
                                                        </p>

                                                        <p class="title">Bob Miller</p>

                                                        <p class="subtitle">photoshop</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="work-description span5 group">
                                            <h3>Bob Miller</h3>

                                            <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum
                                                urna, at cursus urna nisl et ipsum. Donec dapibus lacus nec [...]</p>

                                            <div class="clear"></div>

                                            <a class='read-more' href='portfolio-detail.html'>View Project</a>

                                            <div class="work-skillsdate span5">
                                                <p class="categories paragraph-links">
                                                    <span class="meta-label">Project:</span> photoshop. illustrator
                                                </p>

                                                <p class="customer">
                                                    <span class="meta-label">Customer:</span> Bob Miller -
                                                    <a href="http://www.google.com">Bob Miller</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                    <div class="page type-page status-publish  work row group">
                                        <div class="work-thumbnail span7">
                                            <div class="picture_overlay">
                                                <img width="656" height="407" src="{% static 'images/portfolios/009-656x407.jpg' %}" class="attachment-thumb_portfolio_bigimage" alt="009"/>

                                                <div class="overlay">
                                                    <div>
                                                        <p>
                                                            <a href="{% static 'images/portfolios/0093.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                                <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/>
                                                            </a>
                                                            <a href="portfolio-detail.html"><img src="{% static 'images/icons/project.png' %}" alt=""/></a>
                                                        </p>

                                                        <p class="title">Guanacos</p>

                                                        <p class="subtitle">corporate</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="work-description span5 group">
                                            <h3>Guanacos</h3>

                                            <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum
                                                urna, at cursus urna nisl et ipsum. Donec dapibus lacus nec [...]</p>

                                            <div class="clear"></div>

                                            <a class='read-more' href='portfolio-detail.html'>View Project</a>

                                            <div class="work-skillsdate span5">
                                                <p class="categories paragraph-links">
                                                    <span class="meta-label">Project:</span> prints, website
                                                </p>

                                                <p class="customer">
                                                    <span class="meta-label">Customer:</span> Guanacos
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                    <div class="page type-page status-publish  work row group">
                                        <div class="work-thumbnail span7">
                                            <div class="picture_overlay">
                                                <img width="656" height="383" src="{% static 'images/portfolios/007-656x383.jpg' %}" class="attachment-thumb_portfolio_bigimage" alt="007"/>
                                                                                                                                                                                            
                                                <div class="overlay">
                                                    <div>
                                                        <p>
                                                            <a href="{% static 'images/portfolios/0073.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                                <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/>
                                                            </a>
                                                            <a href="portfolio-detail.html">
                                                                <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                            </a>
                                                        </p>

                                                        <p class="title">Kimeda</p>

                                                        <p class="subtitle">logo design</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="work-description span5 group">
                                            <h3>Kimeda</h3>

                                            <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum
                                                urna, at cursus urna nisl et ipsum. Donec dapibus lacus nec [...]</p>

                                            <div class="clear"></div>

                                            <a class='read-more' href='portfolio-detail.html'>View Project</a>

                                            <div class="work-skillsdate span5">
                                                <p class="categories paragraph-links">
                                                    <span class="meta-label">Project:</span> business card, prints
                                                </p>

                                                <p class="customer">
                                                    <span class="meta-label">Customer:</span> Kimeda -
                                                    <a href="http://kimeda.com">kimeda</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                    <div class='general-pagination group'>
                                        <a href='#' class='selected'>1</a>
                                        <a href='#'>2</a>
                                        <a href='#'>3</a>
                                        <a href='#'>&rsaquo;</a>
                                        <a href='#'>&raquo;</a>
                                    </div>

                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- START COMMENTS -->
                            <div id="comments">
                            </div>
                            <!-- END COMMENTS -->
                        </div>
                        <!-- END CONTENT -->


                        <!-- START EXTRA CONTENT -->
                        <!-- END EXTRA CONTENT -->
                    </div>
                </div>
            </div>
            <!-- END PRIMARY -->
{% endblock %}

        