{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
   

        <!-- SLOGAN -->
        <div class="slogan">
            <h2>Portfolio 3 Columns</h2>

            <h3>Lorem ipsum</h3>
        </div>

        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">
                <!-- START CONTENT -->
                    <div id="content-page" class="span12 content group">
                        <div class="page type-page status-publish group">

                        <script>
                            jQuery(document).ready(function ($) {
                                $('.sidebar').remove();

                                if (!$('#primary').hasClass('sidebar-no')) {
                                    $('#primary').removeClass().addClass('sidebar-no');
                                    $('.content').removeClass('span9').addClass('span12');
                                }

                            });
                        </script>
                        <div class="row">
                        <ul id="portfolio" class="columns columns thumbnails">


                            <li class="first work span4 first">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/piggie85-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="piggie8"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="{% static 'images/portfolios/piggie88.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                    <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/></a>
                                                <a href="portfolio-detail.html">
                                                    <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title">Fly Pigg!</p>

                                            <p class="subtitle">brand identity</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Fly Pigg!</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>


                            <li class="work span4">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/01175-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="0117"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U?width=640&height=480&iframe=true" rel="lightbox" class="ch-info-lightbox-video">
                                                    <img src="{% static "images/icons/play.png" %}" alt="Open Lightbox"/>
                                                </a>
                                                <a href="portfolio-detail.html">
                                                    <img src="{% static "images/icons/project.png" %}" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title">Bob Miller</p>

                                            <p class="subtitle">photoshop</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Bob Miller</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>


                            <li class="work span4">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/009-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="009"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="{% static 'images/portfolios/0093.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                    <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/>
                                                </a>
                                                <a href="portfolio-detail.html">
                                                    <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title">Guanacos</p>

                                            <p class="subtitle">corporate</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Guanacos</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>


                            <li class="work span4 first">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/0041-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="004"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="http://www.youtube.com/v/aMm3Qupo98U&feature=g-vrec?width=640&height=480&iframe=true" rel="lightbox" class="ch-info-lightbox-video">
                                                    <img src="{% static 'images/icons/play.png' %}" alt="Open Lightbox"/>
                                                </a>
                                                <a href="portfolio-detail.html">
                                                    <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title"> Digitpool Medien</p>

                                            <p class="subtitle">brand identity</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Digitpool Medien</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>


                            <li class="work span4">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/007-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="007"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="{% static 'images/portfolios/0073.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                    <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/>
                                                </a>
                                                <a href="portfolio-detail.html">
                                                    <img src="images/icons/project.png" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title">Kimeda</p>

                                            <p class="subtitle">logo design</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Kimeda</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>


                            <li class="last work span4">

                                <div class="picture_overlay">
                                    <img width="360" height="216" src="{% static 'images/portfolios/0051-360x216.jpg' %}" class="attachment-thumb_portfolio_3cols" alt="005"/>

                                    <div class="overlay">
                                        <div>
                                            <p>
                                                <a href="{% static 'images/portfolios/0055.jpg' %}" rel="lightbox" class="ch-info-lightbox">
                                                    <img src="{% static 'images/icons/zoom.png' %}" alt="Open Lightbox"/>
                                                </a>
                                                <a href="portfolio-detail.html">
                                                    <img src="{% static 'images/icons/project.png' %}" alt=""/>
                                                </a>
                                            </p>

                                            <p class="title">Colorful Oktopus</p>

                                            <p class="subtitle">oktopus</p>
                                        </div>
                                    </div>
                                </div>


                                <h4>
                                    <a href="portfolio-detail.html">Colorful Oktopus</a>
                                </h4>

                                <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                                    et ipsum. Donec dapibus lacus nec [...]</p>

                                <a class="read-more" href="portfolio-detail.html">View Project</a>
                            </li>

                        </ul>

                        <div class='general-pagination group'>
                            <a href='#' class='selected'>1</a>
                            <a href='#'>2</a>
                            <a href='#'>&rsaquo;</a>
                        </div>
                        </div>

                        </div>
                    <!-- START COMMENTS -->
                    <div id="comments"></div>
                    <!-- END COMMENTS -->
                    </div>
                <!-- END CONTENT -->

                <!-- START EXTRA CONTENT -->
                <!-- END EXTRA CONTENT -->

                </div>
            </div>
        </div>
        <!-- END PRIMARY -->
{% endblock %}
       