 {% extends "layouts/base.html" %}
 {% load static %}
 {% block content %}
 
 
 
 <!-- START PRIMARY -->
    <div id="primary" class="sidebar-right">
        <div class="container group">
            <div class="row">
                <!-- START CONTENT -->
                <div id="content-page" class="span9 content group">
                        <div class="page type-page status-publish group">
                            <h1 class="title-post-page">H1 tag header</h1>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>

                            <h2>H2 tag header</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>

                            <h3>H3 tag header</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>
                            <h4>H4 tag header</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>
                            <h5>H5 tag header</h5>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>
                            <h6>H6 tag header</h6>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam
                                    sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst.
                                Phasellus ultrices purus et sapien laoreet fermentum.</p>

                            <h2>Dropcap</h2>

                            <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                                scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit
                                id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse
                                platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>

                            <h2>Quote text</h2>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis
                                    adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit.
                                    <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea
                                    dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
                            </blockquote>
                        </div>
                        <!-- START COMMENTS -->
                        <div id="comments"></div>
                        <!-- END COMMENTS -->
                    </div>
                    <!-- END CONTENT -->

                    <!-- START SIDEBAR -->
                    <div id="sidebar-shortcodes" class="span3 sidebar group">
                         <div class="widget-first widget widget_nav_menu">
                             <h3>Shortcodes</h3>
                             <div class="menu-shortcodes-container">
                                 <ul id="menu-shortcodes" class="menu">
                                     <li>
                                         <a href="shortcodes-alert-box-buttons.html">Alert box &amp; Buttons</a>
                                     </li>
                                    <li>
                                        <a href="shortcodes-charts.html">Charts</a>
                                    </li>
                                    <li>
                                        <a href="shortcodes-icon-section.html">Icon section</a>
                                    </li>
                                    <li>
                                        <a href="shortcodes-media-widgets.html">Media &amp; Widgets</a>
                                    </li>
                                    <li>
                                        <a href="shortcodes-mix-various.html">Mix &amp; Various</a>
                                    </li>
                                    <li>
                                        <a href="shortcodes-table-box-prices.html">Table &amp; Box prices</a>
                                    </li>
                                    <li>
                                        <a href="shortcodes-typography.html">Typography</a>
                                    </li>
                                </ul>
                             </div>
                         </div>
                    </div>
                    <!-- END SIDEBAR -->

                    <!-- START EXTRA CONTENT -->
                    <!-- END EXTRA CONTENT -->
                </div>
            </div>
        </div>
        <!-- END PRIMARY -->

{% endblock %}
        