{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
 

        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="container group">
                <div class="row">
                <!-- START CONTENT -->
                    <div id="content-page" class="span12 content group">
                        <div class="page type-page status-publish  group">
                            <h2>
                                Circle <span class="title-highlight">Style</span>
                            </h2>
                            <!-- LIBRA STYLE -->

                            <div class="row">
                                <div class="span3">
                                    <div class="testimonial-circle-style">
                                        <div class="testimonial-text">
                                            <p>
                                                Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus.
                                                Quisque at elit id libero vulputate facilisis. Suspendisse potenti. Vestibulum malesuada
                                                molestie rutrum. Aenean eget
                                                nulla lectus, quis varius tellus. Donec interdum ullamcorper odiosemper.
                                            </p>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Nando Pappalardo</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>
                                        <div class="testimonial-quote"></div>
                                        <div class="thumbnail">
                                            <img width="100" height="100" src="{% static 'images/pages/nando1-100x100.png' %}" class="attachment-thumb-testimonial-circle wp-post-image" alt="nando"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-circle-style">
                                        <div class="testimonial-text">
                                            <p>
                                                Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.
                                            </p>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Sara Presenti</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>
                                        <div class="testimonial-quote"></div>
                                        <div class="thumbnail">
                                            <img width="100" height="100" src="{% static 'images/pages/sara1-100x100.png' %}" class="attachment-thumb-testimonial-circle wp-post-image" alt="sara"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-circle-style">
                                        <div class="testimonial-text">
                                            <p>
                                                Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.
                                            </p>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Nicola Mustone</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a></div>
                                        <div class="testimonial-quote"></div>
                                        <div class="thumbnail">
                                            <img width="100" height="100" src="{% static 'images/pages/nicola1-100x100.png' %}" class="attachment-thumb-testimonial-circle wp-post-image" alt="nicola"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-circle-style">
                                        <div class="testimonial-text">
                                            <p>
                                                Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.
                                            </p>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Antonino Scarfi</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>
                                        <div class="testimonial-quote"></div>
                                        <div class="thumbnail">
                                            <img width="100" height="100" src="{% static 'images/pages/anto1-100x100.png' %}" class="attachment-thumb-testimonial-circle wp-post-image" alt="anto"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2>Quote <span class="title-highlight">Style</span></h2>

                            <!-- CHEOPE STYLE -->

                            <div class="row">
                                <div class="span3">
                                    <div class="testimonial-quote-style">
                                        <blockquote>I think Libra is the most powerful WordPress theme</blockquote>

                                        <div class="testimonial-text">
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.</p>
                                        </div>
                                        <div class="thumbnail">
                                            <img width="87" height="85" src="{% static 'images/pages/nando1-87x85.png' %}" class="attachment-thumb-testimonial-quote wp-post-image" alt="nando"/>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Nando Pappalardo</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-quote-style">
                                        <blockquote>I really enjoyed this theme and the YIW customer support</blockquote>

                                        <div class="testimonial-text">
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.</p>
                                        </div>
                                        <div class="thumbnail">
                                            <img width="87" height="85" src="{% static 'images/pages/sara1-87x85.png' %}" class="attachment-thumb-testimonial-quote wp-post-image" alt="sara"/>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Sara Presenti</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-quote-style">
                                        <blockquote>I would give the support 6 stars if I could</blockquote>

                                        <div class="testimonial-text">
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.</p>
                                        </div>
                                        <div class="thumbnail">
                                            <img width="87" height="85" src="{% static 'images/pages/nicola1-87x85.png' %}" class="attachment-thumb-testimonial-quote wp-post-image" alt="nicola"/>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Nicola Mustone</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="testimonial-quote-style">
                                        <blockquote>I am very impressed by your forum and support</blockquote>

                                        <div class="testimonial-text">
                                            <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                                elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse
                                                potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                                tellus. Donec interdum ullamcorper odiosemper.</p>
                                        </div>
                                        <div class="thumbnail">
                                            <img width="87" height="85" src="{% static 'images/pages/anto1-87x85.png' %}" class="attachment-thumb-testimonial-quote wp-post-image" alt="anto"/>
                                        </div>
                                        <div class="testimonial-name ">
                                            <a href="testimonial-detail.html" class="name">Antonino Scarfi</a>
                                            <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2>Square <span class="title-highlight">Style</span></h2>
                            <!-- CELESTINO STYLE -->


                            <div class="row">
                                <div class="testimonial-square-style span6">
                                    <div class="thumbnail">
                                        <img width="116" height="116" src="{% static 'images/pages/nando1-116x116.png' %}" class="attachment-thumb-testimonial-square wp-post-image" alt="nando"/>
                                    </div>
                                    <div class="testimonial-text"><p>Quisque turpis purus, semper luctus molestie elementum, egestas et
                                        nibh. Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate facilisis.
                                        Suspendisse potenti. Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius
                                        tellus. Donec interdum ullamcorper odiosemper.</p>
                                    </div>
                                    <div class="testimonial-name">
                                        <a href="testimonial-detail.html" class="name">Nando Pappalardo</a>
                                        <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                    </div>
                                </div>

                                <div class="testimonial-square-style span6">
                                    <div class="thumbnail">
                                        <img width="116" height="116" src="{% static 'images/pages/sara1-116x116.png' %}" class="attachment-thumb-testimonial-square wp-post-image" alt="sara"/>
                                    </div>
                                    <div class="testimonial-text">
                                        <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                            elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse potenti.
                                            Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius tellus. Donec
                                            interdum ullamcorper odiosemper.</p>
                                    </div>
                                    <div class="testimonial-name">
                                        <a href="testimonial-detail.html" class="name">Sara Presenti</a>
                                        <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="testimonial-square-style span6">
                                    <div class="thumbnail">
                                        <img width="116" height="116" src="{% static 'images/pages/nicola1-116x116.png' %}" class="attachment-thumb-testimonial-square wp-post-image" alt="nicola"/>
                                    </div>
                                    <div class="testimonial-text">
                                        <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                            elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse potenti.
                                            Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius tellus. Donec
                                            interdum ullamcorper odiosemper.</p>
                                    </div>
                                    <div class="testimonial-name">
                                        <a href="testimonial-detail.html" class="name">Nicola Mustone</a>
                                        <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                    </div>
                                </div>

                                <div class="testimonial-square-style span6">
                                    <div class="thumbnail">
                                        <img width="116" height="116" src="{% static 'images/pages/anto1-116x116.png' %}" class="attachment-thumb-testimonial-square wp-post-image" alt="anto"/>
                                    </div>
                                    <div class="testimonial-text">
                                        <p>Quisque turpis purus, semper luctus molestie elementum, egestas et nibh. Nulla in sapien
                                            elit, et eleifend risus. Quisque at elit id libero vulputate facilisis. Suspendisse potenti.
                                            Vestibulum malesuada molestie rutrum. Aenean eget nulla lectus, quis varius tellus. Donec
                                            interdum ullamcorper odiosemper.</p>
                                    </div>
                                    <div class="testimonial-name">
                                        <a href="testimonial-detail.html" class="name">Antonino Scarfi</a>
                                        <a class="website" href="http://www.netsons.com">www.netsons.com</a>
                                    </div>
                                </div>
                            </div>


                            <h2>
                                U-square <span class="title-highlight">Style</span>
                            </h2>

                            <div id="1" class="slider slider-usquare usquare">
                                
                                <style type="text/css">
                                    .usquare_module_wrapper {
                                        width: 1170px;
                                        height: 390px;
                                    }
    
                                    .usquare_block {
                                        width: 390px;
                                        height: 195px;
                                    }
    
                                    .usquare_block_extended {
                                        width: 390px;
                                        height: 195px;
                                        margin-top: 195px;
                                    }
    
                                    .usquare_block_extended .close {
                                        left: 350px;
                                    }
    
                                    .usquare_block_extended .usquare_about {
                                        height: 120px;
                                    }
                                </style>

                                <div class="usquare_module_wrapper usquare_items_3">
                                    <div class="usquare_module_shade"></div>
                                    <div class="usquare_block">
                                        <img src="{% static 'images/pages/nando.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper">
                                                <img src="{% static 'sliders/usquare/images/arrow-dark.png' %}" class="usquare_arrow" alt="arrow">

                                                <div class="clear"></div>
                                                <h2>NANDO PAPPALARDO</h2> <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- usquare_square_wrapper -->
                                        </div>
                                        <!--div usquare_square -->
                                        <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close">
                                                <img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/>
                                            </a>
                                            <ul class="social_background">
                                                
                                            </ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended --> </div>
                                    <div class="usquare_block">
                                        <img src="{% static 'images/pages/sara.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper">
                                                <img src="{% static 'sliders/usquare/images/arrow-dark.png' %}" class="usquare_arrow" alt="arrow">

                                                <div class="clear"></div>
                                                <h2>SARA PRESENTI</h2>
                                                <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- usquare_square_wrapper -->
                                        </div>
                                          <!--div usquare_square -->
                                         <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close"><img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/></a>
                                            <ul class="social_background"></ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended -->
                                    </div>

                                    <div class="usquare_block">
                                        <img src="{% static 'images/pages/nicola.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper">
                                                <img src="{% static 'sliders/usquare/images/arrow-dark.png' %}" class="usquare_arrow" alt="arrow">

                                                <div class="clear"></div>
                                                <h2>NICOLA MUSTONE</h2>
                                                <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- usquare_square_wrapper -->
                                        </div>
                                        <!--div usquare_square -->
                                        <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close"><img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/></a>
                                            <ul class="social_background"></ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended -->
                                    </div>
                                    <div class="usquare_block">
                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                <img src="{% static 'sliders/usquare/images/arrow_r-dark.png' %}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                <div class="clear"></div>
                                                <h2>ANTONINO SCARFI</h2>
                                                <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                        <!-- usquare_square_wrapper -->
                                        </div>
                                        <!--div usquare_square --><img src="{% static 'images/pages/anto.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close"><img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/></a>
                                            <ul class="social_background"></ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended -->
                                    </div>
                                    <div class="usquare_block">
                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                <img src="{% static 'sliders/usquare/images/arrow_r-dark.png' %}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                <div class="clear"></div>
                                                <h2>SIMONE D'AMICO</h2> <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- usquare_square_wrapper -->
                                        </div>
                                        <!--div usquare_square --><img src="{% static 'images/pages/simone.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close"><img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/></a>
                                            <ul class="social_background"></ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended -->
                                    </div>
                                    <div class="usquare_block">
                                        <div class="usquare_square" style="background-color: transparent; width: 195px; height: 195px;">
                                            <div class="usquare_square_text_wrapper" style="right: 0; text-align: right;">
                                                <img src="{% static 'sliders/usquare/images/arrow_r-dark.png' %}" class="usquare_arrow" alt="arrow" style="float: right; padding: 0 0 5px;">

                                                <div class="clear"></div>
                                                <h2>PIERO VOCALE</h2> <span>www.netsons.com</span>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- usquare_square_wrapper -->
                                        </div>
                                        <!--div usquare_square --><img src="{% static 'images/pages/piero.png' %}" class="usquare_square" alt="" style="background-color: transparent; width: 195px; height: 195px;"/>

                                        <div class="usquare_block_extended" style="background-color: #fff">
                                            <a href="#" class="close"><img src="{% static 'sliders/usquare/images/close.png' %}" alt="close"/></a>
                                            <ul class="social_background"></ul>
                                            <div class="clear"></div>
                                            <!--span class="bold">info:</span-->
                                            <div class="usquare_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec
                                                magna lacus. Sed sed mi est. Nulla in tristique tortor. Curabitur ipsum orci, bibendum
                                                in interdum et, congue viverra nisl. In sit amet dui mauris, vel hendrerit eros. Nunc
                                                scelerisque pellentesque magna, et tempus massa sagittis at.
                                            </div>
                                        </div>
                                        <!-- usquare_block_extended -->
                                    </div>
                                </div>

                                <script>
                                    (function ($) {
                                    $(document).ready(function () {
                                        $(".usquare_module_wrapper").uSquare({ opening_speed: 300, closing_speed: 500, easing: "swing" });
                                    });
                                })(jQuery);
                                </script>

                            </div>

                            <h2>
                                Testimonials <span class="title-highlight">Slider</span>
                            </h2>

                            <div class="testimonials-flexslider">
                                <ul class="slides">


                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie elementum, egestas et nibh.
                                                    Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate
                                                    facilisis. Suspendisse potenti. Vestibulum malesuada molestie rutrum. Aenean eget
                                                    [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>
                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">Nando Pappalardo</a>
                                            </strong> -
                                            <a href="http://www.netsons.com">www.netsons.com</a>
                                        </p>
                                    </li>


                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie elementum, egestas et nibh.
                                                    Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate
                                                    facilisis. Suspendisse potenti. Vestibulum malesuada molestie rutrum. Aenean eget
                                                    [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>
                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">Sara Presenti</a>
                                            </strong> -
                                            <a href="http://www.netsons.com">www.netsons.com</a>
                                        </p>
                                    </li>


                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie elementum, egestas et nibh.
                                                    Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate
                                                    facilisis. Suspendisse potenti. Vestibulum malesuada molestie rutrum. Aenean eget
                                                    [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>
                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">Nicola Mustone</a>
                                            </strong> -
                                            <a href="http://www.netsons.com">
                                                www.netsons.com
                                            </a>
                                        </p>
                                    </li>


                                    <li>
                                        <blockquote>
                                            <p>
                                                <a href="">
                                                    &rdquo;Quisque turpis purus, semper luctus molestie elementum, egestas et nibh.
                                                    Nulla in sapien elit, et eleifend risus. Quisque at elit id libero vulputate
                                                    facilisis. Suspendisse potenti. Vestibulum malesuada molestie rutrum. Aenean eget
                                                    [...]&rdquo;
                                                </a>
                                            </p>
                                        </blockquote>
                                        <p class="meta">
                                            <strong>
                                                <a href="testimonial-detail.html" class="name">Antonino Scarfi</a>
                                            </strong> -
                                            <a href="http://www.netsons.com">
                                                www.netsons.com
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                                <div class="prev"></div>
                                <div class="next"></div>
                            </div>
                            <script type="text/javascript">
                                jQuery(function ($) {
                                    var animation = $.browser.msie || $.browser.opera ? 'fade' : 'slide';
                                    $('.testimonials-flexslider').flexslider({
                                        animation: animation,
                                        slideshowSpeed: 5000,
                                        animationSpeed: 500,
                                        touch: false,
                                        controlNav: false,
                                        directionNav: true
                                    });
                                });
                            </script>


                            </div>
                    <!-- START COMMENTS -->
                    <div id="comments"></div>
                    <!-- END COMMENTS -->
                    </div>
                <!-- END CONTENT -->

{% endblock %}
               